.avia__show-more {
	display: flex;
	justify-content: end; 
}
.avia__show-more__btn {
	width: 502px;
	color: white;
	background: #2196F3;
	border: none;
	font-size: 14px;
	padding: 10px 60px;
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
}